@use 'sass:color';
@use '../abstracts' as *;

.mw-alert {
  padding: spacing('2') spacing('4') spacing('2') spacing('3');
  border-radius: radius('md');
  margin: spacing('1');
  display: flex;
  align-items: flex-start;

  &-icon {
    margin-right: spacing('3');
    font-size: font-size('lg');
    line-height: 1.5;
  }

  &-content {
    flex: 1;
    color: var(--mw-text-color);
    opacity: 0.8;
    p {
      margin: spacing('1');
      line-height: 1.3;
    }
  }

  &-title {
    font-size: font-size('md');
    font-weight: 700;
  }

  &-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: font-size('xl');
    line-height: 1;
    color: var(--mw-text-color);
    transition: var(--mw-transition);

    &:hover {
      opacity: 1;
    }
  }

  &-closed {
    display: none;
  }

  @include media-down('sm') {
    &-content {
      p {
        font-size: font-size('sm');
      }
    }
    &-title {
      font-size: font-size('base');
      font-weight: 600;
    }
  }
}

$_mw-alert-colors: (
  primary: var(--mw-primary-color),
  secondary: var(--mw-secondary-color),
  info: var(--mw-info-color),
  success: var(--mw-success-color),
  warning: var(--mw-warning-color),
  danger: var(--mw-danger-color),
);

@each $name, $col in $_mw-alert-colors {
  .mw-alert-#{$name} {
    background: var(--mw-#{$name}-alert-background);
    border-left: 6px solid #{$col};
  }
}
