@use '../abstracts' as *;

.mw-alert {
  position: relative;
  padding: spacing('3') spacing('4');
  border-radius: radius('md');
  margin-bottom: spacing('4');
  display: flex;
  align-items: flex-start;
  background: var(--mw-card-background);
  border: 1px solid var(--mw-border);
  box-shadow: 0 2px 5px var(--mw-shadow);

  &-icon {
    flex-shrink: 0;
    margin-right: spacing('3');
    font-size: font-size('xl');
    line-height: 1.2;
    margin-top: spacing('2');
  }

  &-content {
    flex: 1;
    color: var(--mw-text-color);
  }

  &-title {
    display: block;
    font-weight: font-weight('bold');
    margin-bottom: spacing('1');
    line-height: 1.3;
  }

  // Text in body
  p {
    margin: 0;
    line-height: 1.5;
    font-size: font-size('sm');
    opacity: 0.9;

    & + p {
      margin-top: spacing('2');
    }
  }

  &-closed {
    display: none !important;
  }

  @include media-down('sm') {
    padding: spacing('2');
    &-icon {
      margin-right: spacing('2');
    }
  }
}

// Close button
.mw-alert-close {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background: var(--mw-gray-background-richer);
  margin-left: spacing('3');
  margin-top: spacing('-1');
  border-radius: radius('full');
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;

  // The X
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: var(--mw-dark-text-color);
    opacity: 0.8;
    border-radius: 1px;
    transition: opacity 0.2s;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

// Color mapping
$_mw-alert-colors: (
  primary: var(--mw-primary-color),
  secondary: var(--mw-secondary-color),
  info: var(--mw-info-color),
  success: var(--mw-success-color),
  warning: var(--mw-warning-color),
  danger: var(--mw-danger-color),
);

// Color Variants
@each $name, $col in $_mw-alert-colors {
  .mw-alert-#{$name} {
    background: var(--mw-#{$name}-info-background);

    border: 1px solid rgba($col, 0.2);
    border-left: 4px solid #{$col};

    .mw-alert-icon {
      color: #{$col};
    }
  }
}
