@use '../abstracts' as *;

.mw-coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--mw-card-background);
  border-radius: radius('md');
  border: 3px dashed var(--mw-primary-color-hover);
  overflow: hidden;
  position: relative;
  transition: var(--mw-transition);
  padding: spacing('10') spacing('0');
  margin: spacing('1');

  &-icon {
    margin-right: spacing('5');
    font-size: font-size('3xl');
    transition: var(--mw-transition);
    position: relative;
    z-index: 2;
    color: var(--mw-text-muted-color);
  }

  &-text {
    font-size: font-size('3xl');
    font-weight: font-weight('bold');
    color: var(--mw-text-muted-color);
    text-transform: uppercase;
    letter-spacing: spacing('3');
    position: relative;
    z-index: 2;
    transition: var(--mw-transition);
    text-align: center;
  }

  &::before {
    content: '';
    position: absolute;
    top: spacing('0');
    left: spacing('0');
    width: 100%;
    height: 100%;
    background: linear-gradient(
      125deg,
      var(--mw-primary-color) 40%,
      var(--mw-secondary-color) 100%
    );
    opacity: 0;
    z-index: 1;
    transition: opacity 0.9s ease;
  }

  &:hover {
    transform: translateY(-5px);
    border-style: solid;

    .mw-coming-soon-icon {
      color: var(--mw-primary-text-color);
      transform: rotate(23deg);
    }

    .mw-coming-soon-text {
      color: var(--mw-primary-text-color);
      transform: scale(1.05);
    }

    &::before {
      opacity: 0.9;
    }
  }

  // Add responsive adjustments
  @include media-down('md') {
    min-height: 150px;

    &-text,
    &-icon {
      font-size: font-size('xl');
    }
  }

  @include media-down('sm') {
    min-height: 120px;

    &-text,
    &-icon {
      letter-spacing: spacing('2');
      font-size: font-size('lg');
    }
  }
}
