@use '../abstracts' as *;

.mw-gallery-container {
  max-width: 1100px;
  border-radius: radius('md');
  margin: spacing('1') auto;
}

.mw-gallery {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: radius('md');
  margin: spacing('1');

  &-track {
    display: flex;
    transition: transform 0.3s ease;
    height: 100%;
  }

  &-slide {
    width: 100%;
    flex-shrink: 0;
    height: 100%;

    img {
      width: 100%;
      height: 580px;
      object-fit: cover;
      display: block;
    }
  }

  &-navi {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(23, 23, 23, 0.8); // fixed color
    background: rgba(240, 240, 240, 0.2); // fixed color
    border: none;
    padding: spacing('5') spacing('2');
    font-size: font-size('5xl');
    cursor: pointer;
    z-index: z-index('menu');
    user-select: none;
    border-radius: radius('md');
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(580px * 0.9);
    width: 8%;

    &:hover {
      background: rgba(223, 223, 223, 0.4); // fixed color
    }

    &-prev {
      left: 3px;
      z-index: z-index('menu');
    }

    &-next {
      right: 3px;
      z-index: z-index('menu');
    }
  }

  &-desc {
    text-align: left;
    padding: spacing('2') spacing('3');
    margin-top: spacing('1');
    background: var(--mw-card-background);
    border-radius: radius('md');
    border: 1px solid var(--mw-primary-color-hover);
  }

  &-dots {
    text-align: center;
    margin-top: spacing('4');
    display: flex;
    align-items: center;
    justify-content: center;
    gap: spacing('3');
  }

  &-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--mw-gray-background);
    cursor: pointer;
    transition: transform 0.4s ease;

    &.mw-active {
      transform: scale(1.5);
      background: var(--mw-primary-color);
    }
  }
}

@include media-down('lg') {
  .mw-gallery {
    &-slide img {
      height: 470px;
    }
    &-navi {
      padding: spacing('4') spacing('2');
      font-size: font-size('3xl');
      height: calc(470px * 0.9);
    }
  }
}

@include media-down('md') {
  .mw-gallery {
    &-slide img {
      height: 380px;
    }
    &-navi {
      height: calc(380px * 0.9);
    }
    &-desc {
      font-size: font-size('sm');
    }
  }
}

@include media-down('sm') {
  .mw-gallery {
    &-slide img {
      height: 270px;
    }
    &-navi {
      padding: spacing('3') spacing('1');
      font-size: font-size('2xl');
      height: calc(270px * 0.9);
      border-radius: radius('sm');
      width: 12%;
    }
    &-desc {
      font-size: font-size('xs');
    }
    &-dots {
      gap: spacing('2');
      margin-top: spacing('3');
    }
    &-dot {
      width: 9px;
      height: 9px;

      &.mw-active {
        transform: scale(1.3);
      }
    }
  }
}
