@use '../abstracts' as *;

// Base list styles
.mw-list {
  margin: spacing('3') spacing('0') spacing('5') spacing('0');
  padding-left: spacing('2');
  padding-right: spacing('2');

  li {
    margin-bottom: spacing('1');

    &:last-child {
      margin-bottom: spacing('0');
    }
  }

  // Nested lists
  .mw-list {
    margin: spacing('1');
  }
}

// Unstyled list - removes bullets and padding
.mw-list-unstyled {
  list-style: none;
  padding-left: spacing('0');
}

// Inline list - horizontal layout
.mw-list-inline {
  list-style: none;
  padding-left: spacing('0');

  li {
    display: inline-block;
    margin-right: spacing('4');

    &:last-child {
      margin-right: spacing('0');
    }
  }
}

// Link list - with anchor tag
.mw-list-link {
  list-style: none;

  button {
   font-size: inherit;
   font-weight: 500;
   background: transparent;
  border: none;
  padding: 0;
  color: var(--mw-text-muted-color);
  &:hover:not(:disabled) {
    color: var(--mw-primary-color);
    text-decoration: underline;
  }
  }
}

// Dot lists
.mw-list-dot {
  list-style: disc;
  padding-left: spacing('4');
  list-style-position: inside;

  li {
    padding-left: spacing('0');
    margin-bottom: spacing('1');

    &::marker {
      left: spacing('0');
      color: var(--mw-primary-color);
    }
  }
}

// Check list
.mw-list-check {
  list-style: none;
  padding-left: spacing('3');

  li {
    padding-left: spacing('0');
    margin-bottom: spacing('1');
  }

  li::before {
    content: '✓';
    color: var(--mw-primary-color);
    padding-right: spacing('4');
  }
}
