@use '../abstracts' as *;

.mw-login {
  background: var(--mw-card-background);
  border-radius: radius('sm') radius('xl') radius('sm') radius('xl');
  box-shadow: 0 5px 10px var(--mw-shadow);
  transition: var(--mw-transition);
  border: 1px solid var(--mw-border);
  position: relative;
  overflow: hidden;
  width: min(390px, 80vw);
  margin: spacing('2') auto;
  padding: spacing('7') spacing('6');
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include media-down('xs') {
    padding: spacing('7') spacing('4');
  }

  &-error {
    border: 2px solid var(--mw-danger-color);

    .mw-login-error-message {
      display: block; // show the message
    }
  }

  &-error-message {
    display: none; // hide by default
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: font-size('sm');
    color: var(--mw-danger-color);
    pointer-events: none;
    white-space: nowrap;
    z-index: 10;
  }

  &-logo {
    margin-bottom: spacing('9');
    position: relative;
    img {
      display: block;
      margin: spacing('0') auto;
      height: 60px;
      object-fit: contain;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: spacing('4');

    label {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: font-size('md');
      color: var(--mw-text-muted-color);

      span {
        margin-bottom: spacing('1');
      }

      input {
        padding: spacing('2') spacing('3');
        border: 1px solid var(--mw-border);
        border-radius: radius('sm');
        font-size: font-size('sm');
        transition: var(--mw-transition);
        background-color: white;

        &:focus {
          outline: none;
          border-color: var(--mw-primary-color);
        }
      }

      @include media-down('sm') {
        font-size: font-size('sm');
      }
    }

    .mw-btn {
      width: 100%;
      margin-top: spacing('5');
    }
  }
}
