@use '../abstracts' as *;

.mw-login {
  background: var(--mw-card-background);
  border-radius: radius('sm') radius('xl') radius('sm') radius('xl');
  padding: spacing('5');
  box-shadow: 0 5px 10px var(--mw-shadow);
  transition: var(--mw-transition);
  border: 1px solid var(--mw-border);
  position: relative;
  overflow: hidden;
  max-width: 390px;
  margin: spacing('9') auto;
  padding: spacing('7') spacing('6');
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include media-down('sm') {
    padding: spacing('7') spacing('4');
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 9px 21px var(--mw-shadow);
    border-color: var(--mw-primary-color-hover);
  }

  &-logo {
    margin-bottom: spacing('8');
    img {
      display: block;
      margin: 0 auto;
      height: 60px;
      object-fit: contain;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: spacing('4');

    label {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: font-size('md');
      color: var(--mw-text-secondary-color);

      span {
        margin-bottom: spacing('1');
      }

      input {
        padding: spacing('2') spacing('3');
        border: 1px solid var(--mw-border);
        border-radius: radius('sm');
        font-size: font-size('sm');
        transition: var(--mw-transition);
        background-color: white;

        &:focus {
          outline: none;
          border-color: var(--mw-primary-color);
        }
      }

      @include media-down('sm') {
        font-size: font-size('sm');
      }
    }

    .mw-btn {
      width: 100%;
      margin-top: spacing('5');
    }
  }
}
