@use '../abstracts' as *;

.mw-meta {
  &-header {
    padding: spacing('3') spacing('2');
    border-bottom: 1px solid var(--mw-border);
    margin-bottom: spacing('5');
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    row-gap: spacing('1');
  }

  &-item {
    display: inline-flex;
    align-items: center;
    row-gap: spacing('1');
    gap: spacing('2');
    &:not(:first-child) {
      margin-left: spacing('9');
    }
    font-size: font-size('md');

    i {
      font-size: font-size('lg');
      color: var(--mw-primary-color);
      flex-shrink: 0;
    }
    span {
      color: var(--mw-text-color);
    }
  }
}
