@use '../abstracts' as *;

.mw-tags {
  display: flex;
  flex-wrap: wrap;
  gap: spacing('2');
}

// Tag item
.mw-tags-item {
  display: inline-flex;
  align-items: center;
  background: var(--mw-primary-background);
  color: var(--mw-text-color);
  font-weight: font-weight('medium');
  padding: spacing('1') spacing('3');
  border-radius: radius('xl');
  font-size: font-size('xs');
  border: 1px solid var(--mw-border);
  transition: all 0.2s ease;
  user-select: none;

  &:hover {
    background: var(--mw-primary-background-hover);
  }

  // Removable tag styling
  &.mw-tags-removable {
    padding-right: spacing('1');
  }
}

// Remove button - pure CSS
.mw-tags-remove {
  flex-shrink: 0;
  margin-left: spacing('3');
}

.mw-tags-icon {
  display: inline-flex;
  margin-right: spacing('1');
  font-size: 1.1em;
}

// Color variants
.mw-tags-primary .mw-tags-item {
  background-color: var(--mw-primary-background);
  border-color: var(--mw-primary-color);
  &:hover {
    background: var(--mw-primary-background-hover);
  }
}

.mw-tags-secondary .mw-tags-item {
  background-color: var(--mw-secondary-background);
  border-color: var(--mw-secondary-color);
  &:hover {
    background: var(--mw-secondary-background-hover);
  }
}

.mw-tags-success .mw-tags-item {
  background-color: var(--mw-success-info-background);
  border-color: var(--mw-success-color);
  &:hover {
    background: var(--mw-success-info-background-hover);
  }
}

.mw-tags-info .mw-tags-item {
  background-color: var(--mw-info-info-background);
  border-color: var(--mw-info-color);
  &:hover {
    background: var(--mw-info-info-background-hover);
  }
}

// Size variants
.mw-tags-lg .mw-tags-item {
  font-size: font-size('sm');
  padding: spacing('1') spacing('3');

  .mw-tags-remove {
    width: 22px;
    height: 22px;

    i,
    fa-icon,
    svg {
      font-size: 0.8rem !important;
    }
  }
}
