@use '../abstracts' as *;

// Flex utilities
.mw-flex {
  &-row {
    flex-direction: row;
  }

  &-column {
    flex-direction: column;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-nowrap {
    flex-wrap: nowrap;
  }

  &-1 {
    flex: 1;
  }
}

// Justify content
.mw-justify {
  &-start {
    justify-content: flex-start;
  }

  &-end {
    justify-content: flex-end;
  }

  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }

  &-around {
    justify-content: space-around;
  }
}

// Align items
.mw-items {
  &-start {
    align-items: flex-start;
  }

  &-end {
    align-items: flex-end;
  }

  &-center {
    align-items: center;
  }

  &-stretch {
    align-items: stretch;
  }
}
