@use '../abstracts' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-width: 360px;
  scroll-padding-top: 70px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background: var(--mw-page-background);

  &:has(.mw-modal-open) {
    overflow: hidden;
    height: 100vh;
  }
}

a {
  text-decoration: none;
  color: var(--mw-text-muted-color);
  transition: var(--mw-transition);
}

ul {
  list-style: none;
}

hr {
  margin: spacing('3') 0;
  color: var(--mw-text-muted-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid var(--mw-border);
  padding: spacing('1') spacing('2');
  text-align: left;
}

th {
  background: var(--mw-primary-color);
  color: var(--mw-primary-text-color);
}

tbody tr:nth-child(even) {
  background: var(--mw-gray-background);
}
