*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-width: 375px;
  scroll-padding-top: 70px;
}

body {
  font-family: var(--mw-font-family-base);
  background: var(--mw-page-background);
  color: var(--mw-text-color);
  line-height: 1.6;

  &:has(.mw-modal-open) {
    overflow: hidden;
    height: 100vh;
  }
}

a {
  text-decoration: none;
  color: var(--mw-text-muted-color);
  transition: var(--mw-transition);
}

ul {
  list-style: none;
}

hr {
  margin: 15px 0;
  color: var(--mw-text-muted-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
}

table,
th,
td {
  border: 1px solid var(--mw-border);
  border-collapse: collapse;
  padding: 3px 8px;
  text-align: left;
  tr:nth-child(even) {
    background: var(--mw-gray-background);
  }
}

th {
  background: var(--mw-primary-color);
  color: var(--mw-primary-text-color);
}
