@use 'sass:map';
@use 'sass:color';

$mw-theme-mode: 'switchable' !default; // 'dark', 'light', or 'switchable'

$mw-hero-image: url('https://images.unsplash.com/photo-1591638462868-19cfad9c49d1?q=80&w=1300&auto=format&fit=crop') !default;

$primary-color: #1031bb;
$secondary-color: #bb3110;
$success-color: #28a745;
$warning-color: #d4a310;
$danger-color: #d72537;
$info-color: #17a2b8;
$gray-color: #565656;
$dark-background: #0b111a;
$dark-text-color: #d6dbdf;
$light-background: #d2d1e1;
$light-text-color: #1a1a1d;

// Base colors that don't change between themes
$base-colors: (
  'primary-color': $primary-color,
  'primary-color-hover': color.adjust(
      $primary-color,
      $lightness: -3%,
      $alpha: -0.3
    ),
  'primary-background': color.adjust(
      $primary-color,
      $lightness: -8%,
      $alpha: -0.8
    ),
  'primary-background-hover': color.adjust(
      $primary-color,
      $lightness: -4%,
      $alpha: -0.5
    ),
  'primary-info-background': color.adjust(
      $primary-color,
      $lightness: -1%,
      $alpha: -0.3
    ),
  'primary-text-color': $dark-text-color,
  'secondary-color': $secondary-color,
  'secondary-color-hover': color.adjust(
      $secondary-color,
      $lightness: -3%,
      $alpha: -0.4
    ),
  'secondary-background': color.adjust(
      $secondary-color,
      $lightness: -8%,
      $alpha: -0.8
    ),
  'secondary-background-hover': color.adjust(
      $secondary-color,
      $lightness: -3%,
      $alpha: -0.6
    ),
  'secondary-info-background': color.adjust(
      $secondary-color,
      $lightness: -8%,
      $alpha: -0.3
    ),
  'secondary-text-color': $dark-text-color,
  'gray-background': color.adjust($gray-color, $lightness: +5%, $alpha: -0.4),
  'section-alternate-pattern': color.adjust($gray-color, $alpha: -0.55),
  'form-elements-background': color.adjust($light-background, $lightness: +15%),
  'form-elements-color': color.adjust($light-text-color, $lightness: -2%),
);

$status-colors: (
  'success-color': $success-color,
  'success-info-background': color.adjust(
      $success-color,
      $lightness: -8%,
      $alpha: -0.2
    ),
  'warning-color': $warning-color,
  'warning-info-background': color.adjust(
      $warning-color,
      $lightness: -8%,
      $alpha: -0.2
    ),
  'danger-color': $danger-color,
  'danger-info-background': color.adjust(
      $danger-color,
      $lightness: -8%,
      $alpha: -0.2
    ),
  'info-color': $info-color,
  'info-info-background': color.adjust($info-color, $lightness: -8%, $alpha: -0.2),
);

// Dark theme colors
$dark-theme-colors: (
  'page-background': $dark-background,
  'hero-overlay-background': color.adjust($dark-background, $alpha: -0.7),
  'card-background': color.adjust($dark-background, $lightness: +5%),
  'footer-background': color.adjust($dark-background, $lightness: +3%),
  'border': color.adjust($dark-background, $lightness: +15%),
  'shadow': color.adjust($dark-text-color, $alpha: -0.7),
  'text-color': $dark-text-color,
  'text-muted-color': color.adjust($dark-text-color, $lightness: -26%),
);

// Light theme colors
$light-theme-colors: (
  'page-background': $light-background,
  'hero-overlay-background': color.adjust($light-background, $alpha: -0.7),
  'card-background': color.adjust($light-background, $lightness: +6%),
  'footer-background': color.adjust($light-background, $lightness: -2%),
  'border': color.adjust($light-background, $lightness: -13%),
  'shadow': color.adjust($light-text-color, $alpha: -0.7),
  'text-color': $light-text-color,
  'text-muted-color': color.adjust($light-text-color, $lightness: +29%),
);

// Typography
$font-family: 'Poppins', sans-serif;
$font-sizes: (
  '3xs': 0.6rem,
  '2xs': 0.7rem,
  'xs': 0.8rem,
  'sm': 0.9rem,
  'base': 1rem,
  'md': 1.1rem,
  'lg': 1.3rem,
  'xl': 1.5rem,
  '2xl': 1.8rem,
  '3xl': 2.2rem,
  '4xl': 2.5rem,
  '5xl': 3rem,
  '6xl': 4.4rem,
);
$font-weights: (
  'bold': 700,
  'medium': 500,
  'normal': 400,
  'light': 300,
);

// Spacing
$spacing: (
  '-6': -2.25rem,
  '-5': -1.75rem,
  '-4': -1.25rem,
  '-3': -0.75rem,
  '-2': -0.5rem,
  '-1': -0.2rem,
  '0': 0,
  '1': 0.2rem,
  '2': 0.5rem,
  '3': 0.75rem,
  '4': 1rem,
  '5': 1.5rem,
  '6': 2rem,
  '7': 2.5rem,
  '8': 3rem,
  '9': 4.5rem,
  '10': 6.5rem,
);

// Breakpoints
$breakpoints: (
  'xs': 375px,
  // Extra small devices (smaller phones)
  'sm': 576px,
  // Small devices (landscape phones)
  'md': 768px,
  // Medium devices (tablets)
  'lg': 992px,
  // Large devices (desktops)
  'xl': 1200px,
  // Extra large devices (large desktops)
  '2xl': 1400px,
);

// Border radius
$radius: (
  'none': 0,
  'xs': 2px,
  'sm': 5px,
  'md': 10px,
  'lg': 15px,
  'xl': 20px,
  '2xl': 30px,
  'full': 50%,
);

// Transitions
$transition-default: all 0.3s ease;

// Z-index
$z-index: (
  'base': 1,
  'menu': 10,
  'header': 100,
  'modal': 1000,
);
