@use '../abstracts' as *;

.mw-home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &-content {
    padding: spacing('6') spacing('2');
    @include media-down('sm') {
      padding: spacing('9') spacing('2');
    }

    &-fade {
      animation: fadeIn 2.5s ease-in;
    }
  }

  &-text {
    width: min(75%, 700px);
    margin: spacing('0') auto;
    position: relative;
    margin-bottom: spacing('4');
    @include media-down('sm') {
      width: 85%;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
