@use '../abstracts' as *;

@layer mw.layout {
  .mw-home {
    justify-items: center;
    align-items: center;
    text-align: center;

    &-content {
      padding: spacing('9') spacing('4');
      @include media-up('sm') {
        padding: spacing('6');
      }

      &-fade {
        @extend .mw-home-content;
        animation: fadeIn var(--mw-duration-slower) var(--mw-ease-out);
      }
    }

    &-text {
      width: 85%;
      position: relative;
      margin: spacing('0') auto spacing('4');
      @include media-up('sm') {
        width: min(75%, 700px);
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-8px) translateY(-23px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
