@use '../abstracts' as *;

.mw-home {
  justify-items: center;
  align-items: center;
  text-align: center;

  &-content {
    padding: spacing('6') spacing('4');
    @include media-down('sm') {
      padding: spacing('9') spacing('3');
    }

    // choose mw-home-content or mw-home-content-fade
    &-fade {
      @extend .mw-home-content;
      animation: fadeIn 1.7s ease-in;
    }
  }

  &-text {
    width: min(75%, 700px);
    position: relative;
    margin: spacing('0') auto spacing('4');
    @include media-down('sm') {
      width: 85%;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-8px) translateY(-23px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
