@use '../abstracts' as *;

.mw-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: spacing('0');
  padding: spacing('0');
}

.mw-container {
  width: min(88%, 1100px);
  margin: spacing('0') auto;
  padding: spacing('0');

  @include media-down('xs') {
    width: 93%;
  }

  // when it contains a full-width child
  @supports (selector(:has(> .mw-container-full))) {
    &:has(> .mw-container-full) {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  // add a hero part for a full size background picture
  @supports (selector(:has(> .mw-hero))) {
    &:has(> .mw-hero) {
      position: relative;
      width: 100%;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
      background-image: var(--mw-hero-background);

      // the “overlay”
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--mw-hero-overlay-background);
        backdrop-filter: blur(2px);
        z-index: 2;
        pointer-events: none;
      }

      // your actual content should sit above the overlay
      > * {
        position: relative;
        z-index: 3;
      }
    }
  }
}

// if you dont want to use mw-home - use mw-content
.mw-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
