@use '../abstracts' as *;

.mw-main {
  margin: spacing('0');
  padding: spacing('0');
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.mw-container {
  width: min(1200px, 89%);
  margin: spacing('0') auto;
  padding: spacing('0');

  // add a hero part for a full size background picture
  @supports (selector(:has(.mw-hero))) {
    // if it has *any* descendant .mw-hero
    &:has(.mw-hero) {
      position: relative;
      width: 100%;
      min-height: 100dvh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
      background-image: var(--mw-hero-background);

      // the “overlay”
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: var(--mw-hero-overlay-background);
        backdrop-filter: blur(2px);
        z-index: 2;
        pointer-events: none;
      }

      // your actual content should sit above the overlay
      > * {
        position: relative;
        z-index: 3;
      }
    }
  }
}

.mw-content {
  flex: 1;
  padding-top: spacing('7');
}

.mw-content-centered {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// tooltip - use it everywhere you want
[data-tooltip] {
  position: relative;
  cursor: pointer;

  &::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    background: var(--mw-gray-background);
    color: var(--mw-primary-text-color);
    padding: spacing('1') spacing('2');
    font-size: font-size('xs');
    border-radius: radius('xs');
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.2s,
      transform 0.2s;
    margin-bottom: spacing('2');
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  // small triangle on the bottom
  &::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    border: 6px solid transparent;
    border-top-color: var(--mw-gray-background);
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.2s,
      transform 0.2s;
    margin-bottom: -4px;
    z-index: 100;
  }

  // Hover effect
  &:hover {
    &::before,
    &::after {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
    }
  }
}
