@use '../abstracts' as *;

.mw-login {
  background: var(--mw-card-background);
  border-radius: radius('sm') radius('xl') radius('sm') radius('xl');
  box-shadow: 0 5px 10px var(--mw-shadow);
  transition: var(--mw-transition);
  border: 1px solid var(--mw-border);
  position: relative;
  overflow: hidden;
  width: min(420px, 85%);
  margin: spacing('2') auto;
  padding: spacing('5');
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include media-down('xs') {
    padding: spacing('7') spacing('4');
  }

  &-logo {
    margin-bottom: spacing('8');

    img {
      display: block;
      margin: spacing('0') auto;
      height: 60px;
      object-fit: contain;
    }
  }

  &-message {
    font-size: font-size('sm');
    text-align: center;
    margin-bottom: spacing('6');
    line-height: 1.5;
    color: var(--mw-text-muted-color);

    // Variants
    &-info {
      color: var(--mw-info-color);
    }

    &-error {
      color: var(--mw-danger-color);
    }

    // Multiple messages spacing
    & + & {
      margin-top: spacing('-3');
    }
  }

  &-error {
    border: 2px solid var(--mw-danger-color);
  }

  &.mw-form-actions {
    width: 100%;
  }
}
