<h3 class="mw-section-subtitle">Avatars</h3>

<div class="mw-grid-2">
  <div>
    <h3 class="mw-mb-4">Avatar Sizes</h3>
    <div class="mw-card mw-card-simple">
      <div class="mw-grid-1">
        <div class="mw-avatar mw-avatar-xs">
          <img src="https://i.pravatar.cc/150?img=1" alt="Avatar" />
        </div>
        <div class="mw-avatar mw-avatar-sm">
          <img src="https://i.pravatar.cc/150?img=2" alt="Avatar" />
        </div>
        <div class="mw-avatar">
          <img src="https://i.pravatar.cc/150?img=3" alt="Avatar" />
        </div>
        <div class="mw-avatar mw-avatar-lg">
          <img src="https://i.pravatar.cc/150?img=4" alt="Avatar" />
        </div>
        <div class="mw-avatar mw-avatar-xl">
          <img src="https://i.pravatar.cc/150?img=5" alt="Avatar" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <h3 class="mw-mb-4">Avatar Shapes & Colors & Group</h3>
    <div class="mw-card mw-card-simple">
      <h4 class="mw-mb-2">Avatar Shapes</h4>
      <div>
        <div class="mw-avatar">
          <img src="https://i.pravatar.cc/150?img=6" alt="Avatar" />
        </div>
        <div class="mw-avatar mw-avatar-square">
          <img src="https://i.pravatar.cc/150?img=7" alt="Avatar" />
        </div>
      </div>

      <h4 class="mw-mb-2 mw-mt-4">Avatar Colors</h4>
      <div>
        <div class="mw-avatar mw-avatar-primary">
          <img src="https://i.pravatar.cc/150?img=9" alt="Avatar" />
        </div>
        <div class="mw-avatar mw-avatar-secondary">
          <img src="https://i.pravatar.cc/150?img=10" alt="Avatar" />
        </div>
      </div>
      <div>
        <div class="mw-avatar mw-avatar-success">
          <img src="https://i.pravatar.cc/150?img=11" alt="Avatar" />
        </div>

        <div class="mw-avatar mw-avatar-warning">
          <img src="https://i.pravatar.cc/150?img=12" alt="Avatar" />
        </div>

        <div class="mw-avatar mw-avatar-danger">
          <img src="https://i.pravatar.cc/150?img=13" alt="Avatar" />
        </div>

        <div class="mw-avatar">
          <img src="https://i.pravatar.cc/150?img=14" alt="Avatar" />
        </div>
      </div>

      <h4 class="mw-mb-2 mw-mt-4">Avatar Group</h4>
      <div class="mw-avatar-group">
        <div class="mw-avatar mw-avatar-sm">
          <img src="https://i.pravatar.cc/150?img=19" alt="Avatar" />
        </div>
        <div class="mw-avatar mw-avatar-sm">
          <img src="https://i.pravatar.cc/150?img=20" alt="Avatar" />
        </div>
        <div class="mw-avatar mw-avatar-sm">
          <img src="https://i.pravatar.cc/150?img=21" alt="Avatar" />
        </div>
        <div class="mw-avatar mw-avatar-sm">
          <img src="https://i.pravatar.cc/150?img=22" alt="Avatar" />
        </div>
      </div>
    </div>
  </div>
</div>
