<h3 class="mw-section-subtitle">Main Colors</h3>

<!-- the hex code string is getting updated via javascript! -->

<div class="mw-grid-4">
  <div class="mw-card mw-card-simple color-card">
    <div class="mw-text-center">
      <div
        class="color-swatch"
        style="background: var(--mw-primary-color)"
      ></div>
      <p>Primary</p>
      <p class="mw-text-secondary">#000000</p>
    </div>
  </div>

  <div class="mw-card mw-card-simple color-card">
    <div class="mw-text-center">
      <div
        class="color-swatch"
        style="background: var(--mw-secondary-color)"
      ></div>
      <p>Secondary</p>
      <p class="mw-text-secondary">#000000</p>
    </div>
  </div>

  <div class="mw-card mw-card-simple color-card">
    <div class="mw-text-center">
      <div
        class="color-swatch"
        style="background: var(--mw-page-background)"
      ></div>
      <p>Page Background</p>
      <p class="mw-text-secondary">#000000</p>
    </div>
  </div>

  <div class="mw-card mw-card-simple color-card">
    <div class="mw-text-center">
      <div
        class="color-swatch"
        style="background: var(--mw-card-background)"
      ></div>
      <p>Card Background</p>
      <p class="mw-text-secondary">#000000</p>
    </div>
  </div>

  <div class="mw-card mw-card-simple color-card">
    <div class="mw-text-center">
      <div class="color-swatch" style="background: var(--mw-border)"></div>
      <p>Border</p>
      <p class="mw-text-secondary">#000000</p>
    </div>
  </div>

  <div class="mw-card mw-card-simple color-card">
    <div class="mw-text-center">
      <div class="color-swatch" style="background: var(--mw-shadow)"></div>
      <p>Shadow</p>
      <p class="mw-text-secondary">#000000</p>
    </div>
  </div>

  <div class="mw-card mw-card-simple color-card">
    <div class="mw-text-center">
      <div class="color-swatch" style="background: var(--mw-text-color)"></div>
      <p>Text</p>
      <p class="mw-text-secondary">#000000</p>
    </div>
  </div>

  <div class="mw-card mw-card-simple color-card">
    <div class="mw-text-center">
      <div
        class="color-swatch"
        style="background: var(--mw-text-secondary-color)"
      ></div>
      <p>Text Secondary</p>
      <p class="mw-text-secondary">#000000</p>
    </div>
  </div>

  <div class="mw-card mw-card-simple color-card">
    <div class="mw-text-center">
      <div
        class="color-swatch"
        style="background: var(--mw-success-color)"
      ></div>
      <p>Success</p>
      <p class="mw-text-secondary">#000000</p>
    </div>
  </div>

  <div class="mw-card mw-card-simple color-card">
    <div class="mw-text-center">
      <div
        class="color-swatch"
        style="background: var(--mw-warning-color)"
      ></div>
      <p>Warning</p>
      <p class="mw-text-secondary">#000000</p>
    </div>
  </div>

  <div class="mw-card mw-card-simple color-card">
    <div class="mw-text-center">
      <div
        class="color-swatch"
        style="background: var(--mw-danger-color)"
      ></div>
      <p>Danger</p>
      <p class="mw-text-secondary">#000000</p>
    </div>
  </div>

  <div class="mw-card mw-card-simple color-card">
    <div class="mw-text-center">
      <div class="color-swatch" style="background: var(--mw-info-color)"></div>
      <p>Info</p>
      <p class="mw-text-secondary">#000000</p>
    </div>
  </div>
</div>
