<div class="mw-card mw-card-simple">
  <h3>Table of Contents</h3>

  <ul class="mw-list mw-list-link">
    <li>
      <button type="button" onclick="location.href='#foundations'">
        Foundations
      </button>
    </li>
    <ul class="mw-list mw-list-link">
      <li>
        <button type="button" onclick="location.href='#typography'">
          Typography
        </button>
      </li>
      <li>
        <button type="button" onclick="location.href='#colors'">Colors</button>
      </li>
      <li>
        <button type="button" onclick="location.href='#utilities'">
          Utilities
        </button>
      </li>
      <li>
        <button type="button" onclick="location.href='#header-utilities'">
          Header Utilities
        </button>
      </li>
      <li>
        <button type="button" onclick="location.href='#coming-soon'">
          Coming Soon Banner
        </button>
      </li>
    </ul>
    <!-- seperator -->
    <li>
      <button type="button" onclick="location.href='#layout'">Layout</button>
    </li>
    <ul class="mw-list mw-list-link">
      <li>
        <button type="button" onclick="location.href='#grid'">
          Grid System
        </button>
      </li>
      <li>
        <button type="button" onclick="location.href='#cards'">Cards</button>
      </li>
      <li>
        <button type="button" onclick="location.href='#panels'">Panels</button>
      </li>
      <li>
        <button type="button" onclick="location.href='#tabs'">Tabs</button>
      </li>
      <li>
        <button type="button" onclick="location.href='#accordions'">
          Accordions
        </button>
      </li>
      <li>
        <button type="button" onclick="location.href='#lists'">Lists</button>
      </li>
    </ul>
    <!-- seperator -->
    <li>
      <button type="button" onclick="location.href='#components'">
        Components
      </button>
    </li>
    <ul class="mw-list mw-list-link">
      <li>
        <button type="button" onclick="location.href='#buttons'">
          Buttons
        </button>
      </li>
      <li>
        <button type="button" onclick="location.href='#progress'">
          Progress Bars
        </button>
      </li>
      <li>
        <button type="button" onclick="location.href='#spinners'">
          Loading Spinners
        </button>
      </li>
      <li>
        <button type="button" onclick="location.href='#avatars'">
          Avatars
        </button>
      </li>
      <li>
        <button type="button" onclick="location.href='#tags'">Tags</button>
      </li>
      <li>
        <button type="button" onclick="location.href='#ratings'">
          Ratings
        </button>
      </li>
      <li>
        <button type="button" onclick="location.href='#info'">Info</button>
      </li>
      <li>
        <button type="button" onclick="location.href='#alerts'">Alerts</button>
      </li>
      <li>
        <button type="button" onclick="location.href='#code'">Code</button>
      </li>
    </ul>
    <!-- seperator -->
    <li>
      <button type="button" onclick="location.href='#form-elements'">
        Form & Elements
      </button>
    </li>
    <ul class="mw-list mw-list-link">
      <li>
        <button type="button" onclick="location.href='#form-elements'">
          Form Elements
        </button>
      </li>
      <li>
        <button type="button" onclick="location.href='#form'">Form</button>
      </li>
      <li>
        <button type="button" onclick="location.href='#login'">Login</button>
      </li>
    </ul>
    <!-- seperator -->
    <li>
      <button type="button" onclick="location.href='#data-display'">
        Data & Display
      </button>
    </li>
    <ul class="mw-list mw-list-link">
      <li>
        <button type="button" onclick="location.href='#tables'">Tables</button>
      </li>
      <li>
        <button type="button" onclick="location.href='#timelines'">
          Timelines
        </button>
      </li>
      <li>
        <button type="button" onclick="location.href='#gallery'">
          Image Gallery
        </button>
      </li>
      <li>
        <button type="button" onclick="location.href='#blog-posts'">
          Blog Posts
        </button>
      </li>
    </ul>
  </ul>
</div>
