<div class="mw-card mw-card-simple">
  <h3>Table of Contents</h3>

  <ul class="mw-list mw-list-link">
    <li>
      <a href="#foundations">Foundations</a>
    </li>
    <ul class="mw-list mw-list-link">
      <li>
        <a href="#typography">Typography</a>
      </li>
      <li>
        <a href="#colors">Colors</a>
      </li>
      <li>
        <a href="#utilities">Utilities</a>
      </li>
      <li>
        <a href="#header-utilities">Header Utilities</a>
      </li>
      <li>
        <a href="#coming-soon">Coming Soon Banner</a>
      </li>
    </ul>
    <!-- seperator -->
    <li>
      <a href="#layout">Layout</a>
    </li>
    <ul class="mw-list mw-list-link">
      <li>
        <a href="#grid">Grid System</a>
      </li>
      <li>
        <a href="#cards">Cards</a>
      </li>
      <li>
        <a href="#panels">Panels</a>
      </li>
      <li>
        <a href="#tabs">Tabs</a>
      </li>
      <li>
        <a href="#accordions">Accordions</a>
      </li>
      <li>
        <a href="#lists">Lists</a>
      </li>
    </ul>
    <!-- seperator -->
    <li>
      <a href="#components">Components</a>
    </li>
    <ul class="mw-list mw-list-link">
      <li>
        <a href="#buttons">Buttons</a>
      </li>
      <li>
        <a href="#progress">Progress Bars</a>
      </li>
      <li>
        <a href="#spinners">Loading Spinners</a>
      </li>
      <li>
        <a href="#avatars">Avatars</a>
      </li>
      <li>
        <a href="#tags">Tags</a>
      </li>
      <li>
        <a href="#ratings">Ratings</a>
      </li>
      <li>
        <a href="#info">Info</a>
      </li>
      <li>
        <a href="#alerts">Alerts</a>
      </li>
      <li>
        <a href="#code">Code</a>
      </li>
    </ul>
    <!-- seperator -->
    <li>
      <a href="#form-elements">Form & Elements</a>
    </li>
    <ul class="mw-list mw-list-link">
      <li>
        <a href="#form-elements">Form Elements</a>
      </li>
      <li>
        <a href="#form">Form</a>
      </li>
      <li>
        <a href="#login">Login</a>
      </li>
    </ul>
    <!-- seperator -->
    <li>
      <a href="#data-display">Data & Display</a>
    </li>
    <ul class="mw-list mw-list-link">
      <li>
        <a href="#tables">Tables</a>
      </li>
      <li>
        <a href="#timelines">Timelines</a>
      </li>
      <li>
        <a href="#gallery">Image Gallery</a>
      </li>
      <li>
        <a href="#blog-posts">Blog Posts</a>
      </li>
    </ul>
  </ul>
</div>
