<div class="mw-logo">
  <button type="button" onclick="location.href='#home'">
    <img src="header-logo.svg" alt="MaverickWave Logo" />
  </button>
</div>

<div class="mw-header-actions">
  <div class="mw-theme-toggle">
    <div class="mw-theme-toggle-slider">
      <i class="fas fa-moon"></i>
    </div>
  </div>

  <div class="mw-menu-btn">
    <div class="mw-menu-btn-burger"></div>
  </div>

  <nav class="mw-navbar">
    <ul class="mw-navbar-list">
      <li class="mw-navbar-item">
        <button
          type="button"
          onclick="location.href='#get-started'"
          class="mw-navbar-link"
        >
          Get Started
        </button>
      </li>
      <li class="mw-navbar-item">
        <button
          type="button"
          onclick="location.href='#foundations'"
          class="mw-navbar-link"
        >
          Foundations
        </button>
      </li>
      <li class="mw-navbar-item">
        <button
          type="button"
          onclick="location.href='#layout'"
          class="mw-navbar-link"
        >
          Layout
        </button>
      </li>
      <li class="mw-navbar-item">
        <button
          type="button"
          onclick="location.href='#components'"
          class="mw-navbar-link"
        >
          Components
        </button>
      </li>
      <li class="mw-navbar-item">
        <button
          type="button"
          onclick="location.href='#form-elements'"
          class="mw-navbar-link"
        >
          Form
        </button>
      </li>
      <li class="mw-navbar-item">
        <button
          type="button"
          onclick="location.href='#data-display'"
          class="mw-navbar-link"
        >
          Data & Display
        </button>
      </li>
    </ul>
  </nav>
</div>
