<div class="mw-logo">
  <a href="#home">
    <img src="header-logo.svg" alt="MaverickWave Logo" />
  </a>
</div>

<div class="mw-header-actions">
  <div class="mw-theme-toggle">
    <div class="mw-theme-toggle-slider">
      <i class="fas fa-moon"></i>
    </div>
  </div>

  <div class="mw-menu-btn">
    <div class="mw-menu-btn-burger"></div>
  </div>

  <nav class="mw-navbar">
    <ul class="mw-navbar-list">
      <li class="mw-navbar-item">
        <a href="#get-started" class="mw-navbar-link">Get Started</a>
      </li>
      <li class="mw-navbar-item">
        <a href="#foundations" class="mw-navbar-link">Foundations</a>
      </li>
      <li class="mw-navbar-item">
        <a href="#layout-navigation" class="mw-navbar-link"
          >Layout & Navigation</a
        >
      </li>
      <li class="mw-navbar-item">
        <a href="#components" class="mw-navbar-link">Components</a>
      </li>
      <li class="mw-navbar-item">
        <a href="#data-display" class="mw-navbar-link">Data & Display</a>
      </li>
    </ul>
  </nav>
</div>
