<h3 class="mw-section-subtitle">Header Utilities</h3>

<div class="mw-mt-6">
  <h3 class="mw-mb-2">Color Switcher (on a fake header here)</h3>
  <p class="mw-text-muted">
    This is not clickable here - because the real color switcher is on top
    whtihin the header
  </p>
  <!-- Fake header -->
  <div class="mw-mb-4" style="position: relative; overflow: hidden">
    <div
      class="mw-d-flex mw-justify-between mw-items-center mw-p-3"
      style="
        background: rgb(12, 17, 30);
        border-bottom: 1px solid var(--mw-primary-color-hover);
      "
    >
      <div class="mw-d-flex mw-items-center">
        <div
          style="
            font-weight: bold;
            font-size: 1.2rem;
            color: var(--mw-header-burgerbutton-color);
          "
        >
          Your Logo
        </div>
      </div>
      <div class="mw-d-flex mw-items-center mw-gap-6">
        <div class="mw-theme-toggle">
          <div class="mw-theme-toggle-slider">
            <i class="fas fa-moon"></i>
          </div>
        </div>
        <button type="button" style="color: var(--mw-text-muted-color)">
          Home
        </button>
        <button type="button" style="color: var(--mw-text-muted-color)">
          About
        </button>
        <button type="button" style="color: var(--mw-text-muted-color)">
          Contact
        </button>
      </div>
    </div>
  </div>
</div>

<div class="mw-mt-6">
  <h3 class="mw-mb-2">Localhost Indicator (on a fake header here)</h3>
  <p class="mw-text-muted">
    This is what the localhost indicator looks like when it has been activated
    (so that you can recognise in the header that you are currently working
    locally)
  </p>
  <!-- Fake header -->
  <div class="mw-mb-4" style="position: relative; overflow: hidden">
    <div
      class="mw-d-flex mw-justify-between mw-items-center mw-p-3"
      style="
        background: rgb(12, 17, 30);
        border-bottom: 1px solid var(--mw-primary-color-hover);
      "
    >
      <div class="mw-localhost-indicator-pulse"></div>
      <div class="mw-d-flex mw-items-center">
        <div
          style="
            font-weight: bold;
            font-size: 1.2rem;
            color: var(--mw-header-burgerbutton-color);
          "
        >
          Your Logo
        </div>
      </div>
      <div class="mw-d-flex mw-items-center mw-gap-6">
        <button type="button" style="color: var(--mw-text-muted-color)">
          Home
        </button>
        <button type="button" style="color: var(--mw-text-muted-color)">
          About
        </button>
        <button type="button" style="color: var(--mw-text-muted-color)">
          Contact
        </button>
      </div>
    </div>
  </div>
</div>
