<div class="mw-logo">
  <a href="#home">
    <img src="logo.png" alt="MaverickWave Logo" />
  </a>
</div>

<div class="mw-d-flex mw-items-center">
  <div class="mw-theme-toggle">
    <div class="mw-theme-toggle-slider">
      <i class="fas fa-moon"></i>
    </div>
  </div>

  <div class="mw-menu-btn">
    <div class="mw-menu-btn__burger"></div>
  </div>

  <nav class="mw-nav">
    <ul class="mw-nav-list">
      <li class="mw-nav-item">
        <a href="#get-started" class="mw-nav-link">Get Started</a>
      </li>
      <li class="mw-nav-item">
        <a href="#foundations" class="mw-nav-link">Foundations</a>
      </li>
      <li class="mw-nav-item">
        <a href="#layout-navigation" class="mw-nav-link">Layout & Navigation</a>
      </li>
      <li class="mw-nav-item">
        <a href="#components" class="mw-nav-link">Components</a>
      </li>
      <li class="mw-nav-item">
        <a href="#data-display" class="mw-nav-link">Data & Display</a>
      </li>
    </ul>
  </nav>
</div>
