<h3 class="mw-section-subtitle">Login</h3>

<p class="mw-text-muted mw-my-0">
  Click “Log In” to simulate a failure and see the red border + message. It will
  automatically clear after 4 seconds.
</p>

<div class="mw-mb-4">
  <div class="mw-login mw-my-8">
    <div class="mw-login-logo">
      <img
        src="https://m1well.com/assets/images/header_logo.png"
        alt="Your Logo"
      />
    </div>
    <p class="mw-login-error-message">Login failed. Please try again.</p>
    <form class="mw-login-form" action="#" method="POST">
      <label>
        <span>Email</span>
        <input
          type="email"
          name="email"
          placeholder="you@example.com"
          required
        />
      </label>
      <label>
        <span>Password</span>
        <input
          type="password"
          name="password"
          placeholder="••••••••"
          required
        />
      </label>
      <a type="submit" class="mw-btn mw-btn-primary">Login</a>
    </form>
  </div>
</div>
