<h3 class="mw-section-subtitle">Login</h3>

<p class="mw-text-muted mw-my-0">
  Click “Log In” to simulate a failure and see the red border. It will
  automatically clear after 4 seconds.
</p>

<div class="mw-mb-4">
  <div class="mw-login mw-my-8">
    <div class="mw-login-logo">
      <img src="https://m1well.com/images/header_logo.svg" alt="Your Logo" />
    </div>
    <div class="mw-login-message">
      This is an internal area that can only be accessed with a code.
    </div>
    <div class="mw-form" id="login-form">
      <div class="mw-grid-1">
        <label for="login-email">
          <span>Email</span>
          <input
            id="login-email"
            type="email"
            class="mw-input"
            placeholder="you@example.com"
            required
          />
        </label>
        <label for="login-password">
          <span>Password</span>
          <input
            id="login-password"
            type="password"
            class="mw-input"
            placeholder="••••••••"
            required
          />
        </label>
      </div>

      <div class="mw-form-actions mw-form-actions-full-width">
        <button type="submit" class="mw-btn mw-btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>
