<h3 class="mw-section-subtitle">Typography</h3>

<div class="mw-grid-2-lg">
  <div>
    <div>
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
    </div>
    <blockquote>
      This is a stylish quote with decorative quotation marks.
    </blockquote>
  </div>

  <div class="mw-grid-stack mw-gap-2">
    <p>
      This is a standard paragraph with default styling. MaverickWave CSS
      framework uses clean typography with good readability as a foundation for
      all text elements.
    </p>

    <p class="mw-text-muted">
      Secondary text uses a slightly muted color for less emphasis, perfect for
      supporting content, captions, or metadata.
    </p>

    <p>
      <strong>Bold text</strong> and <em>italic text</em> are supported as well,
      allowing for proper content hierarchy and emphasis.
    </p>

    <p class="mw-text-light">This is a light text.</p>

    <p class="mw-text-primary">
      Text can be colored using utility classes to highlight important
      information or match your brand.
    </p>

    <p class="mw-text-secondary">
      Text can be colored using utility classes to highlight important
      information or match your brand.
    </p>

    <p class="mw-text-color-dark">
      This always remains the text color of the dark theme.
    </p>

    <p class="mw-text-color-light">
      This always remains the text color of the light theme.
    </p>

    <p>
      <span class="mw-text-xs">Extra Small Text</span><br />
      <span class="mw-text-sm">Small Text</span><br />
      <span class="mw-text-base">Base Text</span><br />
      <span class="mw-text-md">Medium Text</span><br />
      <span class="mw-text-lg">Large Text</span><br />
      <span class="mw-text-xl">Extra Large Text</span>
    </p>
  </div>
</div>
